
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
    <h1>i am from Employee Controller and AboutUs Section</h1>
</head>
<body>
</body>
</html>
