@{ 
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
        <h1>This is my Index page</h1>
        <a href="/Employees">Get List</a><br /><br />
        <a href="/NewEmployee">Add new Employee</a>
   
        