
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
    <h1>i am from Home Controller and AboutUs Section</h1>
</head>
<body>
    <h2>Navagation Page...</h2>
    <div>
        <ul>
            <a href="\home\Index">
            <li>Index</li></a>

            <a href="\home\AboutUs">
            <li>About Us</li></a>

        </ul>
    </div>
</body>
</html>
