
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <center><h1>i am from Home Controller and Index Section</h1></center>
    <style>
        .myDiv {
            border: 5px outset red;
            background-color: lightblue;
            text-align: left;
            border-style:double;
        }
    </style>
</head>
<body>
    <h2>Navagation Page...</h2>


    <div class="myDiv"><ul>
        <a href="\home\Index">
            <li>Index</li></a>
    
        <a href="\home\AboutUs">
        <li>About Us</li></a>

		</ul>
	</div>
</body>
</html>
